In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
train_data = pd.read_csv('./data/station3_2013.csv')
train_data['MONTH'] = train_data['MONTH'].astype('object')
train_data['HOUR'] = train_data['HOUR'].astype('object')
train_data['WEEKDAY'] = train_data['WEEKDAY'].astype('object')
train_data['SEASON'] = train_data['SEASON'].astype('object')
train_data.head(5)

,MONTH,HOUR,WEEKDAY,SEASON,TEMPERATURE,RAINFALL,WINDSPEED,HUMLDITY,SNOWFALL,RENTCOUNT
0,1,0,1,3,-8.8,0.0,0.1,90.0,8.8,0.0
1,1,1,1,3,-8.5,0.0,0.9,90.0,8.8,0.0
2,1,2,1,3,-8.5,0.0,1.0,89.0,8.8,0.0
3,1,3,1,3,-9.0,0.0,0.7,91.0,8.8,0.0
4,1,4,1,3,-9.1,0.0,0.6,92.0,8.8,0.0

In [3]:
test_data = pd.read_csv('./data/station3_20140101_test.csv')
test_data['MONTH'] = test_data['MONTH'].astype('object')
test_data['HOUR'] = test_data['HOUR'].astype('object')
test_data['WEEKDAY'] = test_data['WEEKDAY'].astype('object')
test_data['SEASON'] = test_data['SEASON'].astype('object')
test_data.head(5)

,MONTH,HOUR,WEEKDAY,SEASON,TEMPERATURE,RAINFALL,WINDSPEED,HUMLDITY,SNOWFALL,RENTCOUNT
0,1,0,2,3,5.4,0.0,2.5,68.0,0.0,2.0
1,1,1,2,3,4.8,0.0,2.0,65.0,0.0,0.0
2,1,2,2,3,4.2,0.0,2.7,66.0,0.0,0.0
3,1,3,2,3,4.0,0.0,2.0,64.0,0.0,0.0
4,1,4,2,3,3.0,0.0,0.9,67.0,0.0,0.0

In [4]:
X_train = train_data.iloc[:, :-1].values
y_train = train_data.iloc[:, -1].values
y_train += np.ones(len(y_train)) # to avoid divide_by_0
X_test = test_data.iloc[:, :-1].values
y_test = test_data.iloc[:, -1].values
y_test += np.ones(len(y_test))

In [7]:
# Randomforest를 통한 학습 진행
rf = RandomForestRegressor(n_estimators=50)
rf.fit(X_train, y_train)
predictions = rf.predict(X=X_test)

In [10]:
# RSME 계산
errors=np.sqrt(np.mean((predictions-y_test)**2))

print('Error:', round(errors, 2), 'degrees.')

Error: 3.39 degrees.