In [50]:
import pandas as pd
import numpy as np
from datetime import datetime

In [51]:
data = pd.read_csv('./data/2015 하반기 타슈운영현황.csv')
data = data.dropna(axis=0)

print(data)

         RENT_STATION       RENT_DATE  RETURN_STATION     RETURN_DATE
0                  43  20130101055603              34  20130101060217
1                  97  20130101060400               0  20130101102037
2                   2  20130101060406              10  20130101061859
3                 106  20130101105305             105  20130101105743
4                   4  20130101112223               4  20130101121753
5                  21  20130101113953             105  20130101114943
6                  90  20130101120833              91  20130101125136
7                  13  20130101131429              30  20130101133039
8                   1  20130101133742               1  20130101133815
9                   1  20130101133813               2  20130101150958
10                  1  20130101133847               2  20130101151014
11                  9  20130101134253              23  20130101142012
12                 27  20130101134328              27  20130101134356
13                 30  20130101134850               7  20130101145651
14                 30  20130101134907              30  20130101135526
15                 30  20130101134909              18  20130101140929
16                 30  20130101134922               8  20130101141746
17                 30  20130101134927              30  20130101135517
18                 30  20130101134941              30  20130101135508
19                 30  20130101134947              18  20130101140903
20                 30  20130101135100              29  20130101150335
21                 30  20130101135120              29  20130101150325
22                 46  20130101143257              18  20130101144203
23                 19  20130101143429              19  20130101143740
24                 19  20130101143457              19  20130101143748
25                 47  20130101144303              47  20130101144430
26                 43  20130101144357              43  20130101144421
27                 34  20130101144633              12  20130101145535
28                 90  20130101151439              90  20130101161538
29                 30  20130101153405              17  20130101154838
...               ...             ...             ...             ...
1036584            21  20131231234250              17  20140101002734
1036585            17  20131231234524              30  20131231235529
1036586           138  20131231234711             113  20140101000621
1036587            18  20131231234823              46  20140101001105
1036588           108  20131231234851              64  20140101000044
1036589            95  20131231234900              98  20131231235718
1036590           139  20131231234907             138  20131231235418
1036591            46  20131231234936              46  20140101004323
1036592            14  20131231234943              10  20140101001326
1036593            46  20131231235035              46  20140101004311
1036594            14  20131231235058              10  20140101001335
1036595            80  20131231235300             133  20140101003220
1036596           138  20131231235323             138  20131231235350
1036597           108  20131231235421             122  20140101014520
1036598            18  20131231235424              37  20140101002228
1036599            18  20131231235430               8  20140101001759
1036600            18  20131231235450               8  20140101001737
1036601            18  20131231235506               8  20140101001717
1036602            18  20131231235529              12  20140101001312
1036603            18  20131231235548              12  20140101001242
1036604            18  20131231235608              12  20140101001217
1036605            82  20131231235632             116  20140101000657
1036606            18  20131231235637              12  20140101001205
1036607             4  20131231235654              11  20140101000853
1036608             4  20131231235655               9  20140101000743
1036609            18  20131231235713              44  20140101000805
1036610            47  20131231235717             112  20140101004828
1036611           105  20131231235816             105  20131231235941
1036612            70  20131231235834             108  20140101000425
1036613            29  20131231235907              30  20140101000503

[1036614 rows x 4 columns]

In [41]:
data['대여일시'] = pd.to_datetime(data['대여일시'].astype(str), format='%Y%m%d%H%M%S')
data['반납일시'] = pd.to_datetime(data['반납일시'].astype(str), format='%Y%m%d%H%M%S')

data['대여일시'] = data['대여일시'].dt.strftime('%Y%m%d %H')
data['반납일시'] = data['반납일시'].dt.strftime('%Y%m%d %H')
data = data.dropna(axis=0)

print(data)

ValueError: time data '20130600000000.0' does not match format '%Y%m%d%H%M%S' (match)

In [14]:
data2 = pd.read_csv('./data/2015년도 상반기 타슈운영현황.csv')

data2['대여일시'] = pd.to_datetime(data2['대여일시'].astype(str), format='%Y-%m-%d %H:%M:%S')
data2['반납일시'] = pd.to_datetime(data2['반납일시'].astype(str), format='%Y-%m-%d %H:%M:%S')

data2['대여일시'] = data2['대여일시'].dt.strftime('%Y%m%d %H')
data2['반납일시'] = data2['반납일시'].dt.strftime('%Y%m%d %H')

data2 = data2.dropna(axis=0)
print(data2)

        대여 스테이션 정보         대여일시  반납 스테이션 정보         반납일시
0               31  20150101 00           2  20150103 16
1              121  20150101 00         121  20150101 00
2              121  20150101 00         121  20150101 00
3              112  20150101 05         138  20150101 09
4              144  20150101 06         144  20150101 06
5              144  20150101 06         144  20150101 06
6              144  20150101 06         144  20150101 06
7              144  20150101 07         144  20150101 07
8               21  20150101 07          32  20150101 07
9                2  20150101 07           2  20150101 07
10              37  20150101 07          37  20150101 07
11               2  20150101 07           2  20150101 07
12              37  20150101 07          37  20150101 07
13               8  20150101 07           8  20150101 07
14               8  20150101 07           8  20150101 07
15              13  20150101 07          13  20150101 07
16              13  20150101 07          13  20150101 07
17              28  20150101 07          28  20150101 07
18              28  20150101 07          28  20150101 07
19              55  20150101 07          55  20150101 07
20              36  20150101 07          36  20150101 07
21              36  20150101 07          36  20150101 07
22              71  20150101 07          71  20150101 08
23              71  20150101 07          71  20150101 08
24               5  20150101 08           5  20150101 08
25              45  20150101 08          45  20150101 08
26               5  20150101 08           5  20150101 08
27              55  20150101 08          66  20150101 11
28               1  20150101 08           1  20150101 08
29              45  20150101 08          45  20150101 08
...            ...          ...         ...          ...
524736          16  20150630 23          50  20150630 23
524737          55  20150630 23          57  20150701 00
524738          67  20150630 23          62  20150630 23
524739          71  20150630 23          76  20150701 00
524740          71  20150630 23          76  20150701 00
524741          90  20150630 23          90  20150701 00
524742          59  20150630 23         106  20150701 00
524743           6  20150630 23          57  20150701 00
524744         106  20150630 23         106  20150630 23
524745         106  20150630 23         160  20150701 00
524746          43  20150630 23          91  20150701 00
524747         106  20150630 23         106  20150630 23
524748           4  20150630 23         160  20150701 00
524749          21  20150630 23         105  20150701 00
524750          85  20150630 23          46  20150701 00
524751          61  20150630 23         122  20150701 00
524752          67  20150630 23          67  20150630 23
524753          67  20150630 23          67  20150630 23
524754          48  20150630 23          45  20150701 00
524755          88  20150630 23          88  20150630 23
524756          21  20150630 23         105  20150701 00
524757         109  20150630 23         155  20150701 00
524758          22  20150630 23         106  20150701 00
524759          39  20150630 23          42  20150701 01
524760          69  20150630 23          60  20150701 00
524761          43  20150630 23          71  20150701 00
524762          55  20150630 23          59  20150701 00
524763          88  20150630 23          20  20150701 01
524764          46  20150630 23          30  20150701 01
524765          18  20150630 23          50  20150701 00

[524766 rows x 4 columns]

In [15]:
result = pd.concat([data2, data])
print(result)

        대여 스테이션 정보         대여일시  반납 스테이션 정보         반납일시
0             31.0  20150101 00         2.0  20150103 16
1            121.0  20150101 00       121.0  20150101 00
2            121.0  20150101 00       121.0  20150101 00
3            112.0  20150101 05       138.0  20150101 09
4            144.0  20150101 06       144.0  20150101 06
5            144.0  20150101 06       144.0  20150101 06
6            144.0  20150101 06       144.0  20150101 06
7            144.0  20150101 07       144.0  20150101 07
8             21.0  20150101 07        32.0  20150101 07
9              2.0  20150101 07         2.0  20150101 07
10            37.0  20150101 07        37.0  20150101 07
11             2.0  20150101 07         2.0  20150101 07
12            37.0  20150101 07        37.0  20150101 07
13             8.0  20150101 07         8.0  20150101 07
14             8.0  20150101 07         8.0  20150101 07
15            13.0  20150101 07        13.0  20150101 07
16            13.0  20150101 07        13.0  20150101 07
17            28.0  20150101 07        28.0  20150101 07
18            28.0  20150101 07        28.0  20150101 07
19            55.0  20150101 07        55.0  20150101 07
20            36.0  20150101 07        36.0  20150101 07
21            36.0  20150101 07        36.0  20150101 07
22            71.0  20150101 07        71.0  20150101 08
23            71.0  20150101 07        71.0  20150101 08
24             5.0  20150101 08         5.0  20150101 08
25            45.0  20150101 08        45.0  20150101 08
26             5.0  20150101 08         5.0  20150101 08
27            55.0  20150101 08        66.0  20150101 11
28             1.0  20150101 08         1.0  20150101 08
29            45.0  20150101 08        45.0  20150101 08
...            ...          ...         ...          ...
641553        30.0  20151231 23        18.0  20151231 23
641554        30.0  20151231 23        44.0  20151231 23
641555       103.0  20151231 23        97.0  20151231 23
641556        30.0  20151231 23        30.0  20151231 23
641557        64.0  20151231 23        55.0  20151231 23
641558        30.0  20151231 23        30.0  20151231 23
641559        13.0  20151231 23        15.0  20151231 23
641560        83.0  20151231 23       138.0  20160101 00
641561       118.0  20151231 23       118.0  20151231 23
641562        30.0  20151231 23        17.0  20151231 23
641563        84.0  20151231 23       138.0  20160101 00
641564        84.0  20151231 23       138.0  20160101 00
641565       113.0  20151231 23       113.0  20160101 00
641566        44.0  20151231 23        18.0  20151231 23
641567       118.0  20151231 23        74.0  20160101 00
641568        10.0  20151231 23        29.0  20151231 23
641569        60.0  20151231 23        69.0  20151231 23
641570        17.0  20151231 23        19.0  20151231 23
641571       175.0  20151231 23        90.0  20160101 00
641572       152.0  20151231 23       152.0  20151231 23
641573        46.0  20151231 23       110.0  20160101 00
641574        89.0  20151231 23       134.0  20160101 00
641575       138.0  20151231 23        46.0  20160101 00
641576       143.0  20151231 23       172.0  20160101 00
641577       107.0  20151231 23       105.0  20160101 00
641578        32.0  20151231 23        54.0  20160101 00
641579       152.0  20151231 23       152.0  20160101 00
641580        22.0  20151231 23        33.0  20160101 00
641581        71.0  20151231 23        76.0  20160101 00
641582        43.0  20151231 23       107.0  20160101 00

[1164537 rows x 4 columns]

In [16]:
result = result.fillna(0)
result.to_csv('./data/2015년도 타슈현황.csv', index=False)